<?xml version="1.0" encoding="utf-8" ?>
<log4net>
	<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
		<param name="File" value="Logs/"></param>
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock"></lockingModel>
		<param name="AppendToFile" value="true"></param>
		<param name="MaxSizeRollBackups" value="5"></param>
		<param name="StaticLogFileName" value="false"></param>
		<param name="DatePattern" value="yyyy-MM-dd'.log'"></param>
		<param name="RollingStyle" value="Date"></param>
		<layout type="log4net.Layout.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.fff} %-5p %m%n"></param>
		</layout>
	</appender>
	<root>
		<!-- INFO：关键边沿（启停/功率设定/断路器/故障）。DEBUG 含遥测读失败等周期性细节，默认不落盘。 -->
		<level value="INFO"></level>
		<appender-ref ref="RollingLogFileAppender"></appender-ref>
	</root>
</log4net>
